.field {
    margin-bottom: 1rem;
}

#fieldsGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 100%;
}

.input-group-text > label {
    width: 100%;
    border-radius: 5px;
}

@media (max-width: 800px) {
    #fieldsGrid {
        grid-template-columns: 1fr;
    }
}