@import url("./header.css");
@import url("./fieldsGrid.css");
@import url("./main.css");

.userForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 100%;
}

.p-error{
    line-height: 12px;
    margin-bottom: 0;
    margin-left: 10px;
    opacity: 0;
}

.form_grupo-incorrecto p {
    display: block;
}


.form_grupo-incorrecto .form_input{
    border:1px solid var(--error-red);
}

.form_grupo-incorrecto .form_input-error{
    opacity: 1;
}



@media (max-width: 800px) {
    .userForm {
        grid-template-columns: 1fr;
    }
}