.customCard {
    width: 60vw;
}

.customCard > .customButton {
    margin: auto;
    margin-top:1rem;
    width: 25%;
    white-space: nowrap;
    min-width: 10rem;
}

@media (max-width: 768px) {
    .customCard > .customButton {
        width: 50%;
    }
}