@import url("./detailModal.css");
@import url("./customTable.css");
@import url("./header.css");

.pendingApprovalsButtons {
    min-width: 20rem;
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 0.2rem;
}